.container {
  display: flex;
  justify-content: center;
  width: 95%;
  height: 60vh;
  z-index: 2;
}

@media only screen and (max-width: 770px) {
  .container {
    width: 100%;
    z-index: 2;
    height: 60vh;
  }
}