.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
  width: 100%;
}

.card {
  margin: 0 2% !important;
}

.infected {
  border-bottom: 0.5px solid rgba(0, 0, 255, 0.5);
  background: #eff7ff !important;
  color: #007bff !important;
}

.recovered{
  border-bottom: 0.5px solid rgba(0, 255, 0, 0.5);
  background: #28a74520 !important;
  color: #28a745 !important;
}

.deaths{
  border: 0.5px solid rgba(255, 0, 0, 0.5);
  background: #ff073a20 !important;
  color: #ff073a !important;
}

.mainTitle {
  margin-bottom: 1rem !important;
  font-weight: 400 !important;
}

.countCard {
  font-weight: 600 !important; 
  letter-spacing: 0.02rem !important;
}

.newCard {
  padding: 12px;
  display: flex;
  overflow: auto;
  flex-direction: column;
  height: 100%;
  margin: 0 2% !important;
}

.refreshDate {
  text-align: center;
}

@media only screen and (max-width: 770px) {
  .card {
    margin: 2% 0 !important;
  }
}